[submodule "rocket-chip"]
	path = rocket-chip
	url = git@github.com:Siudya/rocket-chip.git
[submodule "xs-utils"]
	path = xs-utils
	url = git@github.com:Siudya/xs-utils.git
[submodule "CoupledL2"]
	path = CoupledL2
	url = git@github.com:Archer613/CoupledL2.git
[submodule "NHL2"]
	path = NHL2
	url = git@github.com:cyril0124/NHL2.git
